<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
    <div id="chatToast" class="toast" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" autohide: false>
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="..." />
            <strong class="me-auto">Chattington</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hi there, would you like some help deciding where to go?
            <div class="mt-2 pt-2 border-top">
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#formWindow" aria-controls="formWindow" class="btn btn-primary btn-sm">Yes please!</button>
            </div>
        </div>
    </div>
</div>
