<div class="offcanvas offcanvas-end" tabindex="-1" id="formWindow" aria-labelledby="formWindowLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="formWindowLabel">Chattington</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="chatHistory">
            <p class="lead">I'm Chattington! Let's me help you find a holiday you'll love.</p>
        </div>
        <form asp-controller="Home", id="preferencesForm" asp-action="RecommendedHolidays" method="post">
            <div id="tempSelect"class="mb-3">
                <label for="TempRating" id="tempLabel" class="form-label">What type of weather do you like?</label>
                <input type="text" class="form-control" id="TempRating" name="TempRating" aria-label="TempRating"/>
            </div>
            
            <div id="categorySelect" class="mb-3" hidden>
                <label for="category" id="categoryLabel" class="form-label">Are you an active or lazy traveler?</label>
                <input type="text" class="form-control" id="category" name="category" aria-label="category" />
            </div>
            
            <div id="priceSelect" class="mb-3" hidden>
                <label for="pricepernight" id="priceLabel" class="form-label">What is your max price per night?</label>
                <input type="text" class="form-control" id="pricepernight" name="pricepernight" aria-label="pricepernight" />
            </div>
            <button type="submit" class="btn btn-primary">Find Holidays</button>
        </form>
    </div>
</div>

