@model HolidayDetail

<h3 class="my-5">
    @Model.HotelName
</h3>

<div class="row gx-5">
    <img alt="@Model.HotelName" src="" class="img-fluid col-5"/>
    <div class="col-7">
        
    </div>
</div>

