@model IEnumerable<HolidayViewModel>

<div class="text-center">
    <h1 class="display-4">Welcome to our holiday selection service!</h1>
    <p class="lead"> Have a look at some of our holidays below, or click "Chat now" if you're not sure where you want to go!</p>
</div>

<hr />

<partial name="_ChatToast"/>

<div class="row row-cols-4 gy-5">
    @foreach (var holiday in Model)
    {
        <partial name="_Card" model="holiday"/>
    }
</div>

<partial name="_ChatForm"/>