@model IEnumerable<HolidayViewModel>

<div class="text-center">
    <h1 class="display-4">Welcome to our holiday selection service! Have a look at some of our holidays below, or click "Chat now" if you're not sure where you want to go!</h1>
</div>

<div class="row gy-5">
    @foreach (var holiday in Model)
    {
        <partial name="_Card" model="holiday"/>
    }
</div>