@model HolidayViewModel

<div class="text-center">
    @{
        if (Model.Holidays.Any())
        {
            <h1 class="display-4">Here's some holiday destinations based on your search criteria below:</h1>
        }
        else
        {
            <h1 class="display-4">Sorry, we couldn't find any holidays based on your search criteria below:</h1>
        }
    }
    
    <p class="lead">
        <strong>Category:</strong> @Model.UserPreferences.Category
    </p>
    <p class="lead">
        <strong>Climate:</strong> @Model.UserPreferences.TempRating
    </p>
    <p class="lead">
        <strong>Max Price:</strong> £@Model.UserPreferences.PricePerNight
    </p>
</div>

<hr />

<div class="row row-cols-4 gy-5">
    @foreach (var holiday in Model.Holidays)
    {
        <partial name="_Card" model="holiday" />
    }
</div>

<partial name="_ChatToast" />
<partial name="_ChatForm" />